
.Section-center
{
    display:flex;
}

.tab-btn
{
    font-size: 28px;
    margin:70px;
    cursor: pointer; 

}

.buttons
{
    height:200px;
    background-color: lightgrey;
    display:flex;
    justify-content: space-between;
    padding:0;
    width:800px;
    font-size: 1vw;;

}

.Container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: rgb(161, 183, 197);
}

.content
{
    display: none;
    flex-direction: column;
    width:500px;
    margin:20px;
    font-size: 1vw;
   
}

.about-content
{
    display: flex;
    /* overflow: wrap; */
    flex-wrap: wrap;
}

.tab-btn:hover
{
    background-color: rgb(185, 166, 202);
    color:white;
    font-weight: bold;

}



.tab-btn .active
{
    background-color: white;
}

.active
{
    display:flex;
}


.Img
{
    width: 70%;
    height: auto;
}


    /* @media only screen and (max-width: 300px) {  

    .content{

       font-size: 8vw;
      }
    } */


