
.Section-center
{
    display:flex;
}

.btn
{
    font-size: 32px;
    margin:70px;
    

}

.buttons
{
    background-color: lightgrey;
    display:flex;
    justify-content: space-between;
    padding:auto;
    width:800px;

}

.Container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: rgb(161, 183, 197);
}


#History, #Vision, #Goals
{
    display: flex;
    flex-direction: column;
    width:250px;
    margin:20px;
   
}

.about-content
{
    display: flex;
    flex-direction: row;
}

.btn:hover
{
    background-color: blueviolet;
    color:white;
    font-weight: bold;

}

.content
{
    display:none;
}

.content.active
{
    display: block;
}